*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    color: #101315;
}

a {
    text-decoration: none;
}

li {
    display: flex;
}

body {
    position: relative;
}

.main-post {
    background-image: url(assets/header.jpg);
    background-repeat: no-repeat;
    color: #fff;
    padding: 184px 0 150px;
    background-position: 50%;
    background-size: cover;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.sky {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.cite_main {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    font-style: normal;
    text-align: center;
    margin-top: 40px;
}

.cite_second {
    font-family: "Oxygen", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    opacity: 63%;
    margin-top: 20px;

}

.cite_third {
    font-family: "Oxygen", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #fff;
    background-color: #DD783F;
    padding: 10px;
    margin-left: 45%;
    margin-top: 30px;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 20px;
}

.nav_top,
.nav_bottom,
.nav_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul {
    display: flex;
    gap: 40px;
}

.nav_top a {
    margin-left: 10;
    padding: 10px;
    color: #fff;
}

.nav_main {
    font-family: "Lora", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}

.nav_bottom {
    margin-top: 120px;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    color: #101315;
    padding: 0;
}

.nav_bottom_bg {
    background-image: url(assets/bgbottom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_bottom a {
    color: #fff;
    opacity: 60%;
    font-family: "Oxygen", sans-serif;
    padding: 30px;
}

.logo {
    opacity: 100%;
    font-family: Lora;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}


article img {
    width: 300px;
    height: 150px;
}

.author_img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.author {
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #999999;

}

.featured {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.road_ahead,
.fromtopdown {
    width: 460px;
    height: 280px;
}

.recent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.cite_featured_1 {
    font-family: "Lora", sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}

.cite_featured_2 {
    font-family: "Oxygen", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

.data_featured {
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #999999;
}

.cite_recent_1 {
    font-family: "Lora", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}

.cite_recent_2 {
    font-family: "Oxygen", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.data_recent {
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #999999;

}

.posts,
.most_recent {
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 2px;
    text-align: center;
    margin: 40px;
}